body {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
}

.quote-card {
    padding: 50px;
    margin: 200px;
    border-style: solid;
    background-color: gray;
    color: black;
    border-color: gray;
}

.quote {
    font-size: 45px;
    width: 100%;
    text-align: center;
}

.quote-source {
    font-size: 25px;
    width: 100%;
    text-align: right;
}

.buttons {
    margin: 10px;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.buttons button {
    width: 33%;
    margin: 10px;
    padding: 10px;
    color: white;
    font-size: 15px;
    background-color: cadetblue;
    border-radius: 5%;
}